@import "variables";

@mixin box-shadow($color) {
  box-shadow: $color 1px -1px 20px 0;
}

@mixin border-box-shadow($color) {
  border: 1px solid $color;

  &:focus-within {
    box-shadow: $color 0 0 0 3px;
  }
}

/**
 * Provides a containing box for all fixed positioned elements - including grandchildren
 */ 
@mixin provide-fixed-box() {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
