%animated {
  animation: gradient 25s ease infinite;
}

/**
 * Provides a containing box for all fixed positioned elements - including grandchildren
 */ 
 %provide-fixed-box {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

%float { 
  &-right {
    margin-right: 0;
    margin-left: auto;
  }

  &-down {
    margin-top: auto;
    margin-bottom: 0;
  }
}