.input-group {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 100%;

  >*:not(:last-child) {
    margin-bottom: 15px;
  }
}

.form {
  display: flex;
  flex-direction: column;

  &--centered {
    align-items: center;
  }

  &__text {
    display: block;
    margin-top: 0.25rem;
  }
}

.float-right {
  margin-right: 0;
  margin-left: auto;
}