<div class="d-flex p-3 flex-row" style="background-color: darkgrey">
  <h4 class="p-2" style="background-color: whitesmoke; border-radius:3px">Game-DB</h4>
</div>
<div class="parent d-flex flex-column">
  <div class="d-flex p-3 flex-row align-self-start">
    <label class="greeting">Log in</label>
  </div>
  <div class="d-flex flex-column justify-content-evenly"
       style="background-color: lightgrey; height: 60%">
    <div class="d-flex flex-column">
      <div class="d-flex flex-row justify-content-evenly" style="padding:2px">
        <label
          class="align-self-center secondary-label"
          for="username-input">Username:</label>
        <input type="text" id="username-input" [(ngModel)]="usernameInput">
      </div>
      <div class="d-flex flex-row justify-content-evenly" style="padding:2px">
        <label
          class="align-self-center secondary-label"
          for="password-input">Password:</label>
        <input type="text" id="password-input" [(ngModel)]="passwordInput">
      </div>
      <div class="d-flex flex-row justify-content-center">
        <button id="signin-btn" (click)="loginUser()">Sign in</button>
      </div>
      <div class="d-flex flex-row justify-content-center">
        <a routerLink="/register" style="color:#0dcaf0">Don't have an account? Register here</a>
      </div>
    </div>
  </div>
</div>

