<div class="parent d-flex flex-column justify-content-center">
  <div class="d-flex p-3 flex-row justify-content-center"><label class="greeting">Log into Game-DB</label></div>


  <div class="d-flex flex-column">
    <label
      class="align-self-center"
      for="username-input"
      id="user-label">Username:</label>
    <div class="d-flex flex-row justify-content-center">
      <input type="text" id="username-input" [(ngModel)]="usernameInput">
      <button id="signin-btn" (click)="loginUser()">Sign in</button>
    </div>
  </div>
</div>

