.button {
  border-radius: 20px;
  color: white;
  font-family: inherit;
  width: 150px;
  height: 35px;
  font-size: large;
  border: none;
  margin: 1em;
}

.button_gradient {
  @extend .button;
  @extend %animated;
  background-image: linear-gradient(155deg, #ff49fd, #6200ff, #ff0052);
  background-size: 2000% 2000%;
}

