@import "@/styles/abstracts/placeholders";

.button {
  font-family: inherit;
  font-size: large;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 35px;
  margin: 1rem;
  cursor: pointer;
  user-select: none;
  color: white;
  border: none;
  border-radius: 15px;
}

.gradient-button {
  @extend .button;
  @extend %animated;
  $base-color: #ff49fd;
  $border-depth: 4px;

  background-image: linear-gradient(155deg, #ff49fd, #6200ff, #ff0052);
  background-size: 2000% 2000%;
  box-shadow: $base-color 0 $border-depth 0 0;

  &--disabled {
    cursor: default;
    filter: brightness(85%);
  }

  &:hover {
    filter: brightness(120%);
  }

  &--clicked {
    transform: translateY($border-depth);
    box-shadow: $base-color 0 0 0 0;
  }
}

