@import '@/styles/abstracts/mixins';

.rounded-input {
  &--error &__input {
    @include border-box-shadow(#ff9d9d);
  }

  &__input {
    @include border-box-shadow(#ced4da);
    display: flex;
    width: 240px;
    height: 40px;
    transition: all 0.1s ease;
    border: 1px solid #ced4da;
    border-radius: 7px;

    input {
      font-size: 15px;
      width: calc(100% - 2.5rem);
      height: auto;
      margin-left: 20px;
      border: none;
      outline: none !important;
      box-shadow: none !important;
    }
  }

  &__invalid-message {
    margin-top: 0.3rem;
    color: red;
  }
}
