.bubble-input {
  //@include box-shadow(#c5c5c5);
  display: flex;
  width: 240px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #ced4da;

  input {
    font-size: 15px;
    width: calc(100% - 2.5rem);
    margin-left: 20px;
    border: none;
    outline: none !important;
  }

  &--error {
    @include box-shadow(#ffa1a1);
    border: 1px solid #dc3545;
  }
}
