@import '@/styles/abstracts/mixins';

.rounded-input {
  font-size: 15px;

  &--error &__input {
    @include border-box-shadow(#ff9d9d);
  }

  &__input-container {
    display: flex;
    align-items: center;
    position: relative;
  }

  &__input {
    @include border-box-shadow(#ced4da);
    display: flex;
    width: 240px;
    height: 40px;
    transition: all 0.1s ease;
    border: 1px solid #ced4da;
    border-radius: 7px;
    outline: none;
    font-size: 15px;
    padding: 0 5px;
  }

  &__invalid-message {
    margin-top: 0.3rem;
    margin-left: 0.1rem;
    color: red;
  }

  &__end-icon {
    right: 0;
    margin-right: 10px;
    position: absolute;
    color: grey;
    cursor: pointer;
  }
}
