@import "@/styles/abstracts/mixins";

.modal {
  @extend %provide-fixed-box;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  padding: 1rem;
  position: relative;

  &--thin {
    padding: 2rem 3rem;
  }

  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
    font-size: x-large;
    padding: 5px;

    &--medium {
      font-size: medium;
    }
  }

  &__body {
    justify-content: center;
  }

  &__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    flex-direction: column;
  }
}